<nav>
  <div class="logo"><img src="/public/images/logo.png" /></div>
  <div class="openMenu"><i class="fas fa-bars"></i></div>
  <ul class="mainMenu">
    <li><a href="/">Home</a></li>
    {{#if user}}
      <li><a href="/accounts/dashboard">Dashboard</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">View tips</a></li>
      <li><a href="/accounts/logout">Log out</a></li>
      <div class="first-nav">
        <li><img class="img" src="/public/images/samantha.png" alt="myPics" /></li><br
        /><br />
        <span>
          <h5><strong>Samantha</strong></h5><br />
          <small>samantha@gmail.com</small>
        </span>
        <li><h5><strong>Dashboard</strong></h5></li>
        <ul>
          <li><i class="fas fa-wallet"></i>&nbsp; Payments</li>
          <li><i class="fas fa-share"></i>&nbsp; Summary</li>
          <li><i class="fas fa-user"></i>&nbsp; Profile</li>
          <li><i id="roller" class="fas fa-cog"></i>&nbsp; Settings</li>
        </ul>
      </div>
    {{else}}
      <li><a href="/accounts/login">Log in</a></li>
      <li><a href="/accounts/register">Register</a></li>
    {{/if}}
    <div class="closeMenu">
      <div><i class="fas fa-times"></i></div>
    </div>
  </ul>
</nav>