{{!< base }}

{{#contentFor "title" }} Add a financial account {{/contentFor}}

<div class="row signUpCon">
  <div class="col-md-12 text-center">
    <div class="signLogo text-center">
      <img src="/public/images/logo2.png" />
      <h3 style="color: white;">&nbsp;bitBybit</h3>
    </div>
  </div>
  <div class="col-md-12 text-center">
    <div class="col-md-12 text-center mono-api">
    </div>
    <p><button>Continue</button></p>
  </div>
</div>