{{!< base }}

{{#contentFor "title"}} Login {{/contentFor}}

<main>
  <div class="row signUpCon">
    <div class="col-md-12 text-center">
      <div class="signLogo text-center">
        <img src="/public/images/logo2.png" />
        <h3 style="color: white;">&nbsp;bitBybit</h3>
      </div>
    </div>
    <div class="col-md-12 text-center signIn">
      <h3>Welcome</h3><br />
      <p>Sign in to enjoy buying now and paying later.</p>
      <form id="myForm" method="post">
        <div class="form-group">
          <input
            class="shadow"
            type="email"
            name="email"
            id="email"
            placeholder="Enter email address"
            required
          />
        </div>

        <div class="form-group">
          <input
            class="shadow"
            id="id_password"
            type="password"
            placeholder="Enter password"
            name="password"
            required
          />
          <i id="eyes" class="fas fa-eye"></i>
        </div>
        <div><button class="shadow">Log in</button></div>
      </form>
      <small>
        Don't have an account?
        <a href="/accounts/register">Sign up</a>
        now!
      </small>
    </div>
  </div>
</main>