{{!< base }}

{{#contentFor "title" }} Login {{/contentFor}}

<main>
    <div class="row first-row">
        <div class="col-md-6 first-container">
            <h1>Let's get you signed up!</h1>
                <form id="myForm" method="post">
                <input type="text" placeholder="Enter Full name"><br>    
                <input type="email" placeholder="Enter email"><br>
                <input type="password" placeholder="Enter password"><br>
                <input type="password" placeholder="Re-enter password">
                <p><button>Continue</button> <span><a href="#">Log in instead</a></span></p>
                </form>
        </div>
        <div class="col-md-6">
            <img src="public/images/Sign In.png" width="100%" height="100%">
        </div>
        <!-- <div class="midImg">
        <img src="/images/GreyLayer.png" width="100%"><br>
        <img src="/images/BlackLayer.png" width="100%"> -->     
    </div>
</main>