{{!< base }}

{{#contentFor "title"}} Sign Up {{/contentFor}}

<main>
  <div class="row signUpCon">
    <div class="col-md-12 text-center">
      <div class="signLogo text-center">
        <img src="/public/images/logo2.png" />
        <h3 style="color: white;">&nbsp;bitBybit</h3>
      </div>
    </div>
    <div class="col-md-12 text-center signIn">
      <h3>Sign in</h3><br />
      <h5 style="color: black;">Let's get you signed up!</h5>
      <form id="myForm" method="post">
        <div class="form-group">
          <input
            class="shadow"
            type="text"
            name="firstName"
            id="lastName"
            placeholder="Enter first name"
            required
          />
        </div>
        <div class="form-group">
          <input
            class="shadow"
            type="text"
            name="lastName"
            id="lastName"
            placeholder="Enter last name"
            required
          />
        </div>
        <div class="form-group">
          <input
            class="shadow"
            type="email"
            name="email"
            id="email"
            placeholder="Enter email address"
            required
          />
        </div>
        <div class="form-group">
          <input
            class="shadow"
            type="text"
            name="username"
            id="username"
            placeholder="Choose a username"
            required
          />
        </div>
        <div class="form-group">
          <input
            class="shadow"
            type="text"
            name="phone"
            id="phone"
            placeholder="Phone Number"
            required
          />
        </div>
        <div class="form-group">
          <input
            class="shadow"
            id="id_password"
            type="password"
            placeholder="Enter password"
            name="password"
            required
          />
          <i id="eyes" class="fas fa-eye"></i>
        </div>
       
        <div class="form-group">
          <input
            class="shadow"
            id="password2"
            type="password"
            placeholder="Confirm password"
            name="password2"
            required
          />
        </div>
        <div><button class="shadow">Sign Up</button></div>
      </form>
      <small>Already have an account?<a href="/accounts/login">Log in instead</a></small>
    </div>
  </div>
</main>